<div class="container">
  <div class="row">
    <h3>Starters</h3>
  </div>
  <div class="row" *ngIf="lineUpSt.length > 0; else loadingLineUp">
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Postition</th>
              <th scope="col">Name</th>
              <th scope="col">Last name</th>
              <th scope="col">Number</th>
              <th scope="col">Nationality</th>        
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pl of lineUpSt">
              <th>{{pl.rol}}</th>
              <td>{{pl.name}}</td>
              <td>{{pl.lastName}}</td>
              <td>{{pl.age}}</td>
              <td>{{pl.nationality}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #loadingLineUp>
          <div class="alert alert-primary" role="alert">
              <p>
                  Loading Players.
              </p>
          </div>
      </ng-template>        
</div>