<div class="container">
  <hr >
  <h2>Add Players</h2>
  <div class="row">
    <div (submit)="savePlayer($event)" class="col">
      <form novalidate>
        <div class="form-group">
          <label for="namePl">Name</label>
          <input type="email" class="form-control" id="namePl" aria-describedby="emailHelp" placeholder="Enter Name(s)">
        </div>
        <div class="form-group">
            <label for="lastNamePl">Lastname</label>
            <input type="email" class="form-control" id="lastNamePl" aria-describedby="emailHelp" placeholder="Enter Lastname(s)">
        </div>
        <div class="form-group">
          <label for="plAge">Age</label>
          <input type="number" class="form-control" id="plAge" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="rolPl">Position</label>
            <input type="text" class="form-control" id="rolPl" aria-describedby="emailHelp" placeholder="Enter Position in the Field">
        </div>
        <div class="form-group">
            <label for="nationalityPl">Nationality</label>
            <input type="text" class="form-control" id="nationalityPl" aria-describedby="emailHelp" placeholder="Enter Position in the Field">
        </div>        
        <div class="form-check">
            <input class="form-check-input" type="radio" name="range" id="titularCheck" value="true" checked>
            <label class="form-check-label" for="titularCheck">
              Titular Player
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="range" id="benchCheck" value="false">
            <label class="form-check-label" for="benchCheck">
              Bench Player
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="range" id="coachChcek" value="null">
            <label class="form-check-label" for="coachChcek">
              Coach 
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Player" />
      </form>
    </div>
    <div class="col">
      <div class="container">
        <div class="row" *ngIf="plList.length > 0; else plListEmpty">
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Position</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pl of plList">
                  <th>{{pl.rol}}</th>
                  <td>{{pl.name}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <ng-template #plListEmpty>
          <div class="row">
            <div class="alert alert-primary" role="alert">
                <p>
                    Please enter the Players data.
                </p>
            </div>
          </div>
        </ng-template>   
      </div>
    </div>
  </div>
</div>